

.CGL-unitblock {
	text-align: center;
	align-items: center;
	height: 14px;
	width: 14px;
	margin: 0px;
	padding: 0px;
}

.CGL-unit {
	position: absolute;
	height: 7px;
	width: 7px;
	border: 5px solid lightgrey;
} .CGL-unit:hover {
	  cursor: pointer;
		background: #2bffff;
  	border: 5px solid #2cfffb;
	} .CGL-unit:hover:active {
			background: #1bdfeb;
	    border: 4px solid #10e9f6;
	    margin: 0px;
		}

.CGL-alive {
	background: #19ffff;
	border: 4px solid #2bffff;
} .CGL-alive:hover {
		background: #abffff;
		border: 4px solid #acfffb;
	}

.CGL-old {
	background: #09f7c9;
	border: 4px solid #1bffdb;
} .CGL-old:hover {
		background: #abffff;
		border: 4px solid #acfffb;
	}

.CGL-dead {
	background: #ddd;
	border: 4px solid #e5e5e5;
}
