.DM-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #fafafd;
  bottom: 0; left: 0; right: 0; top: 0;
  font-family: sans-serif;
}

.DrumMachine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  max-width: 90%;
  max-height: 90%;
  min-width: 387px;
  min-height: 480px;
  border: 1px solid grey;
  border-radius: 24px;
  padding: 10px 1px 1px 1px;
}


.DM-Settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 5px 20px 5px 20px;
}

.DM-Settings > h1 {
  height: 40px;
  text-align: center;

}

.DrumMachine > .pads {
  padding: 20px;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 12px;
}

.drum-pad {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: solid 1px lightgrey;
  border-radius: 18px;
  font-size: 0;

}

.drum-pad > h3 {
  height: 6px;
  font-size: 24px;
  line-height: 38px;
}
.drum-pad > p {
  margin-bottom: 16px;
  font-size: 16px;
}

.pad-pressed {
  position: relative;
  top: 2px;
  background: #ffdddd;
}

.drum-pad:hover {
  cursor: pointer;

}