.CGL-board {
	text-align: center;
	justify-content: center;
}
.CGL-board > h1 {
	font-size: 34px;
	font-weight: bolder;
}

.CGL-row {
	text-align: center;
	margin: 0;
	display: flex;
	padding: 0;
}
.CGL-rows {
	justify-content: center;
	display: flex;
	margin: 10px;
}

.CGL-button {
	outline: 0;
	width: 120px;
	height: 34px;
	font-size: 16px;
	line-height: 34px;
	padding: 0;
	margin: -1px;
	border: 2px solid #ddd;
	background-color: white;
	text-decoration: none;
} .CGL-button:hover {
		background: #1bffdb;
    border: 2px solid #1bffdb;
    cursor: pointer;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 4px -1px #268767;
    -moz-box-shadow: 0px 0px 4px -1px #268767;
    box-shadow: 0px 0px 4px -1px #268767;
	} .CGL-button:hover:active {
      position: relative;
      top: 1px;
      background: #10ebc3;
		}
	.CGL-button:focus { outline: 0; }

.CGL-gen {
	width: 160px;
	height: 34px;
	font-size: 16px;
	font-weight: 100;
	line-height: 34px;
	padding-left: 15px;
	padding-right: 0px;
	margin: -1px;
	transform: translate(0, -1px);
	border: 2px solid #ddd;
	background-color: white;
	text-decoration: none;
	display: inline-flex;
	text-align: center;
}.CGL-gen:focus { outline: 0; }



